@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }



body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    /* background: #010615; */
	background-image: url(../photos/money_bg.jpg);
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.btn {
    background-color: transparent;
}

img:hover {
    cursor: pointer;
}

.nav-area li {
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
}

.nav-area li a:hover {
    color: #75849d
}

#navbar {
    width: 1200px;
}

@media screen and (max-width: 768px){
    * {
        font-size: .95rem;
    }
    header img {
        width: 100px;
        height: 100px;
    }
    .btn-area {
        font-size: .95rem;
        padding: 5px 20px;
    }
}
